# Virtual Environment
venv/
env/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build / Dist
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
